body {
  background-color: darkblue;
  color: white;
}

.personalHeaderFooter h2,
.personalHeaderFooter h3 {
  text-align: center;
}

.compulsory {
  color: orange;
}
#Register,
#Login {
  float: center;
}
