<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Numerlogy and Tarot</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--The section area to capture the css files-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="CSS/index.css" />
  </head>
  <body>
    <header class="col-sm-12 personalHeaderFooter">
      <h2>
        Welcome to the Numerlogy and Tarot Application
      </h2>
      <!--Button section-->
      <div id="header">
        <ul>
          <li>
            <button class="btn btn-default" disabled="disabled">
              Home Page
            </button>
          </li>
          <li>
            <button class="btn btn-default" id="VistAccount">
              Account Page
            </button>
          </li>
          <li>
            <button class="btn btn-warning" id="logout">
              Logout
            </button>
          </li>
        </ul>
      </div>
    </header>
    <section class="col-sm-12">
      <div id="PersonalUserWelcomeMessageDiv" class="col-sm-12"></div>
      <br />
      <!--Lifepath section-->
      <div id="LifepathDiv" class="col-sm-12">
        <button id="LifepathBtn" class="btn btn-default">
          Load Life Path Details</button
        ><br /><br />
      </div>
      <br /><br />
      <!--Expression Number section-->
      <div id="ExpressionNumberDiv" class="col-sm-12">
        <button id="ExpressionNumberBtn" class="btn btn-default">
          Load Expression Number Details</button
        ><br /><br />
      </div>
      <br /><br />
      <!--Soul Urge Number section-->
      <div id="SoulUrgeNumber" class="col-sm-12">
        <button id="SoulUrgeBtn" class="btn btn-default">
          Load Soul Urge Details</button
        ><br /><br />
      </div>
      <br /><br />
      <!--Personality Number section-->
      <div id="PersonalityNumberDiv" class="col-sm-12">
        <button id="PersonalityNumberBtn" class="btn btn-default">
          Load Personality Number Details</button
        ><br /><br />
      </div>
      <br /><br />
      <!--Birthday Number DIV-->
      <div id="BirthdayNumberDiv" class="col-sm-12">
        <button id="BirthdayNumberBtn" class="btn btn-default">
          Load Birthday Number Details</button
        ><br /><br />
      </div>
      <br /><br />
      <p>
        Section to display the lifepath number, the expression number, the soul
        urge number, the personality number and the birthday number
      </p>
      <p>
        Also display the details from the rest api from the github for the tarot
        (maybe the numerlogy too)
      </p>
    </section>

    <footer class="col-sm-12 personalHeaderFooter">
      <h3>
        Created by William Carey,C16315253 &copy; 2020
      </h3>
      <!--Script files for the functionality of the application and to be able to use the JQuery-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <!--Local js files used-->
      <script src="JS/home.js"></script>
    </footer>
  </body>
</html>
