<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Numerlogy and Tarot</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--The section area to capture the css files-->
    <link rel = "stylesheet" type = "text/css" href = "CSS/index.css"
  </head>
  <body>
    <header>
      <h1>
        Welcome to the Numerlogy and Tarot
      </h1>
    </header>
    <section>
      <div id="Register">
        <h3>Register for the application</h3>
      </div>
      <div id="Login">
        <h3>Login for the application</h3>
      </div>
    </section>
    <footer>
      <h3>
        Numerlogy and Tarot Continous Assignment site Created by William Carey
        &copy; 2020
      </h3>
    </footer>
  </body>
</html>
