<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Numerlogy and Tarot</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--The section area to capture the css files-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="CSS/bootstrap-datepicker.css" />
    <link rel="stylesheet" type="text/css" href="CSS/index.css" />
  </head>
  <body>
    <header class="col-sm-12 personalHeaderFooter">
      <h2>
        Welcome to the Numerlogy and Tarot Application
      </h2>
      <!--Button section-->
      <div id="header">
        <ul>
          <li>
            <button class="btn btn-default" id="Home">
              Home Page
            </button>
          </li>
          <li>
            <button class="btn btn-default" disabled="disabled">
              Account Page
            </button>
          </li>
        </ul>
      </div>
    </header>
    <section class="col-sm-12">
      <p>
        Section to display the user details, update them and deleate them
      </p>
    <div class="form-group col-sm-6">
        <!--The name of the user, which is the first name, middle name, surname and username-->
        <label for="fname">First name: </label><br />
        <input type="text" id="fname" name="fname" class="form-control" disabled = "disabled"/><br />
        <label for="mname">Middle name:</label><br />
        <input type="text" id="mname" name="mname" class="form-control" disabled = "disabled"/><br />
        <label for="lname">Last name: </label><br />
        <input type="text" id="lname" name="lname" class="form-control" disabled = "disabled"/><br />
        <label for="reguname">Username: </label><br />
        <input type="text" id="reguname" name="reguname" class="form-control" disabled = "disabled" /><br />
        <!-- <label for="email">Email: </label><br /> -->
        <!--The email, DOB, password and confirm password-->
        <!-- <input type="email" id="email" name="email" class="form-control" disabled = "disabled"/><br /> -->
        <label for="DOB">Date of Birth: </label><br />
        <div class="input-group date" data-provide="datepicker">
            <input type="text" class="form-control" id="DOB" name="DOB" disabled = "disabled"/>
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
        <br />
        <label for="password">Password: </label><br />
        <input type="password" id="password" name="password" class="form-control" disabled = "disabled"/><br />
        <button class="btn btn-warning" id="CancelEditing" disabled = "disabled">Cancel Editing</button>
        <button class="btn btn-success" id="SubmitDetails" disabled = "disabled">Submit Details</button>
        <button class="btn btn-default" id="EditDetails"> Edit Details </button>
        <button class="btn btn-danger" id="DeleteAccount"> Delete Account </button>
        <br /><br />
        </div>
        </div>
    </section>

    <footer class="col-sm-12 personalHeaderFooter">
      <h3>
        Created by William Carey,C16315253 &copy; 2020
      </h3>
      <!--Script files for the functionality of the application and to be able to use the JQuery-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <script src="JS/bootstrap-datepicker.js"></script>
      <script src="JS/home.js"></script>
      <script src = "JS/ViewAccount.js"></script>
    </footer>
  </body>
</html>
