<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Numerlogy and Tarot</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--The section area to capture the css files-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="CSS/index.css" />
  </head>
  <body>
    <header class="col-sm-12 personalHeaderFooter">
      <h2>
        Welcome to the Numerlogy and Tarot Application
      </h2>
      <!--Button section-->
      <div id="header">
        <ul>
          <li>
            <button class="btn btn-default" id="Home">
              Home Page
            </button>
          </li>
          <li>
            <button class="btn btn-default" disabled="disabled">
              Account Page
            </button>
          </li>
        </ul>
      </div>
    </header>
    <section class="col-sm-12">
      <p>
        Section to display the user details, update them and deleate them
      </p>
    </section>

    <footer class="col-sm-12 personalHeaderFooter">
      <h3>
        Created by William Carey,C16315253 &copy; 2020
      </h3>
      <!--Script files for the functionality of the application and to be able to use the JQuery-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <script src="JS/home.js"></script>
    </footer>
  </body>
</html>
